<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>

    <div class="padviewer-container">
        <nav class="padviewer-navigation">
            <h1>PAD Viewer</h1>
        </nav>

        <main id="padviewerApp" class="padviewer-app"></main>
    </div>
    <script src="/build.js"></script>
  </body>
</html>
